{
  "openapi": "3.1.0",
  "info": {
    "title": "Sessions API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.keyframelabs.com/v1"
    }
  ],
  "paths": {
    "/sessions": {
      "post": {
        "operationId": "createSession",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create session",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateSessionRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreateSessionResponse" }
              }
            }
          },
          "403": {
            "description": "Model not allowed for plan",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPExceptionResponse" },
                "examples": {
                  "modelNotAllowed": {
                    "value": {
                      "detail": "Plan 'pro' does not support model persona-1-live"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "No capacity available",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPExceptionResponse" },
                "examples": {
                  "busy": {
                    "value": {
                      "detail": "Our servers are busy. Please try again in a moment."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPExceptionResponse" },
                "examples": {
                  "internal": { "value": { "detail": "Internal server error" } }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "CreateSessionRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["model_id", "persona_id"],
        "properties": {
          "model_id": {
            "type": "string",
            "description": "ID of model to use"
          },
          "persona_id": {
            "type": "string",
            "description": "Id of persona to use"
          }
        }
      },
      "CreateSessionResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["server_url", "participant_token", "agent_identity"],
        "properties": {
          "server_url": {
            "type": "string",
            "description": "WebRTC connection URL",
            "examples": ["wss://..."]
          },
          "participant_token": {
            "type": "string",
            "description": "JWT for 'source' participant to pass audio to persona"
          },
          "agent_identity": {
            "type": "string",
            "description": "Identity of the persona in the WebRTC session",
            "examples": ["agent"]
          }
        }
      },
      "HTTPExceptionResponse": {
        "type": "object",
        "additionalProperties": true,
        "required": ["detail"],
        "properties": {
          "detail": {
            "description": "Error detail",
            "anyOf": [{ "type": "string" }, { "type": "object" }, { "type": "array" }]
          }
        }
      }
    }
  }
}